@tailwind base;
@tailwind components;
@tailwind utilities;


@import "~@fortawesome/fontawesome-free/css/all.min.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Georgia', serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}